<div class="topbar">
  <div class="toggle">
    <i class="material-icons">menu_open</i>
  </div>
  <div class="search">
    <label>
      <input type="text" placeholder="Szukaj">
    </lebel>
    <i class="material-icons">search</i>
  </div>
  <div class="user">
  <img src="upload/img/avatar/Janek_m.jpg" width="44px">
  </div>
</div>