<div class="footer">
  <div class="footer-content">
  <p>2021 © Transport TMS -
    <a href="https://iworutka.com" target="_blank">Iwo Rutka</a>
  </p>
  <a href="https://www.linkedin.com/in/iwo-rutka/" target="_blank">
    <img src="/upload/favicon/LI-In-Bug.png" class="footer-favicon" width='16px' ;=";"></img>
  </a>
  <a href="https://github.com/IwoRutka" target="_blank">
    <img src="/upload/favicon/GitHub-Mark-32px.png" class="footer-favicon" width='16px' ;=";"></img>
  </a>
  </div>
</div>
