<div class="sidebar">
  <ul>
    <div class="logo">
      <a href="/">
        <!-- <img src="assets/images/logo.png" alt="" /> -->
        <span>Transport TMS</span></a>
    </div>
    <li class="sidebar-li">
      <a href="/">
        <i class="material-icons">newspaper</i><span>Aktualności</span></a>
    </li>
    <li class="sidebar-li">
      <a href="/vehicles">
        <i class="material-icons">local_shipping</i><span>Pojazdy</span></a>
    </li>
    <li class="sidebar-li">
      <a href="/loads">
        <i class="material-icons">inventory_2</i><span>Ładunki</span></a>
    </li>
    <li class="sidebar-li">
      <a href="/contractor">
        <i class="material-icons">handshake</i><span>Kontrahenci</span></a>
    </li>
    <li class="sidebar-li">
      <a href="/admin">
        <i class="material-icons">settings</i><span>Zarządzanie</span></a>
    </li>
    <br>
    <li class="sidebar-li">
      <a href="/">
        <i class="material-icons">logout</i><span>Logout</span></a>
    </li>
  </ul>
</div>
