<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
  <div class="nano">
    <div class="nano-content">
      <ul>
        <div class="logo">
          <a href="index.html">
            <!-- <img src="assets/images/logo.png" alt="" /> -->
            <span>Transport TMS</span></a>
        </div>
        <li>
          <a class="nav-link active" aria-current="page" href="/">
            <i class="menu-icon fa-fw fas fa-newspaper"></i>Aktualności</a>
        </li>
        <li>
          <a class="nav-link" href="/vehicles">
            <i class="menu-icon fa-fw fas fa-truck"></i>Pojazdy</a>
        </li>
        <li>
          <a class="nav-link" href="/loads">
            <i class="menu-icon fa fa-th-large" aria-hidden="true"></i>Ładunki</a>
        </li>
        <li>
          <a class="nav-link" href="/contractor">
            <i class="menu-icon far fa-handshake"></i>Kontrahenci</a>
        </li>
        <li>
          <a class="nav-link" href="/admin">
            <i class="menu-icon fas fa-cogs"></i>Zarządzanie</a>
        </li>

        <li>
          <a>
          <i class="menu-icon fas fa-times"></i>
            Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
