<div class="menu">
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Aktualności</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/vehicles">Pojazdy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/loads">Ładunki</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contractor">Kontrahenci</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/admin">Zarządzanie</a>
  </li>
</ul>
</div>